.conve_list {
    width: 24px;
    height: 24px;
    background:url('../images/sprite.png') no-repeat 0 0;
}
.conve_list ul li a span.spirte1{
    background-position:0 0;
}
.conve_list ul li a span.spirte2 {
    background-position:0 -44px;
}