.container {
    display: flex;
    align-items: flex-start;
    width:400px;
    height: 250px;
    background-color: lightgreen;
}
.item {
    background-color: lightpink;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.item1{
    align-self:inherit;
}
.item2{
    align-self: flex-end;
}
.item3{
    align-self: inherit;
}