/* css初始化 */
body,
div,
ul,
li,
input,
p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    padding: 0;
    font: 12px simsun;
    color: #000;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
/* 顶部导航开始 */
.top-nav {
    height: 26px;
    background: #f7f7f7;
    border-bottom: 1px solid #d8d8d8;
}
.top-nav-con {
    width: 970px;
    margin: 0 auto;
    height: 26px;
}
.top-nav-r ul li {
    float: left;
    height: 26px;
    line-height: 26px;
}
.top-nav-l {
    height: 26px;
    line-height: 26px;
}
.top-nav-r ul li a {
    display: inline-block;
    height: 26px;
    background: url("../images/sj.png") no-repeat right;
    padding: 0 10px;
}
/* logo部分 */
.logo {
    width: 970px;
    height: 84px;
    margin: 0 auto;
}
.logo-pic {
    width: 200px;
    height: 84;
}
.search {
    width: 519px;
    height: 30px;
    border: 1px solid #c9c9c9;
    background: #f9f9f9;
    margin-top: 28px;
    padding: 5px 5px 5px 4px;
}
.search input[type="text"] {
    width: 419px;
    height: 28px;
    border: 1px solid #a6a6a6;
    border-right: 0 ;
    vertical-align: middle;
}
.search input[type="button"]{
    width: 99px;
    height: 30px;
    background: url("../images/search.png");
    vertical-align: middle;
}
/* 主导航部分 */
.nav {
    width: 970px;
    height: 25px;
    margin: 10px auto;
    border-bottom: 2px solid #0266a3;
}
.nav li {
    float: left;
}
.nav li a {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 15px;
    color: #0266a3;
}
.nav  li a:hover {
    background: #0266a3;
    color: #fff;
}
/* 宠物市场 */
.mar {
    width: 970px;
    height: 210px;
    margin: 0 auto;
}
.mar-left{
    height: 210px;
    width: 200px;
    background: #ebf0f6;
}
.mar-title {
    height: 30px;
    background: #0266a3;
    line-height: 30px;
    color: #fff;
    padding-left: 20px;
}
.mar-list {
    margin-top:5px;
}
.mar-list li {
    height: 28px;
    line-height: 28px;
    padding-left: 39px;
}
.mar-list li.icon {
    background: url("../images/icon_1.png") no-repeat 9px;
}