.item1 {
    white-space: nowrap;
    border: 1px solid;
    width:150px;
    overflow: hidden;
    text-overflow:clip;
}
.item2 {
    white-space: nowrap;
    border: 1px solid;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item{
    white-space: nowrap;
    border: 1px solid;
    width: 150px;
    overflow: hidden;
    text-overflow: "i'm string";
}