body{
    font: 14px/1.5 'Helvetica Neue','Helvetica','Arial',
    'Microsoft Yahei','Hiragino Sans GB','Heiti SC',
    'WenQuanYi Micro Hei',sans-serif;
    color: #333;
}
/* 小米顶部样式 */
.topBar {
    width: 100%;
    height: 40px;
    background-color: #333;
}
.container {
    width: 1226px;
    height: 100%;
    margin: 0 auto;
}
.topBar .topBar_list {
    float: left;
}
.topBar .shop {
    float: right;
    width: 120px;
    margin-left: 15px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #424242;
}
.topBar .shop a {
    width: 120px;
    height: 40px;
    display: inline-block;
}
.topBar .login {
    float: right;
}
.topBar a {
    color: #b0b0b0;
    font-size: 12px;
    display: inline-block;
    line-height: 40px;
}
.topBar a:hover{
    color: #fff;
}
.topBar span{
    color: #424242;
    margin: 0 .3em;
}
/* 小米顶部栏end */