/* 小米站点内容start */
.site_content .site_slider{
    position: relative;
    z-index: 2;
}
.site_content .site_slider>a {
    display: block;
    width:1226px;
}
.site_content .site_slider>a img {
    width: 1226px;
}
.site_content .site_slider>span {
    position: absolute;
    width: 41px;
    height: 69px;
    background: url('../images/icon-slides.png') no-repeat 0 0;
    top:50%;
    margin-top: -35px;
    cursor: pointer;
}
.site_content .site_slider span.prev {
    background-position: -83px 0;
    left: 234px;
}
.site_content .site_slider span.next {
    background-position: -123px 0;
    right: 0;
}
.site_content .site_slider span.prev:hover {
    background-position: 0 0;
    left: 234px;
}
.site_content .site_slider span.next:hover {
    background-position: -41px 0;
    right:0;
}
.site_content .slider_item {
    position: absolute;
    width: 400px;
    height: 21px;
    line-height: 21px;
    text-align: right;
    bottom: 20px;
    right: 30px;
}
.slider_item>a {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, .4);
    margin:0 5px;
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, .3);
}
/* 向导样式 start */
.content_sub {
    margin-top: 18px;
    overflow: hidden;
}
.content_sub .content_channel {
    float: left;
    width: 234px;
}
.content_sub .content_channel ul{
    background-color: #5f5750;
    font-size: 12px;
    text-align: center;
}
.content_sub .content_channel ul li {
    float: left;
    width: 33.33%;
    height: 85px;
}
.content_sub .content_channel ul li a {
    display: block;
    color: rgba(255, 255, 255, .7);
    padding-top: 18px;
}
.content_sub .content_channel ul li a:hover {
    color: #fff;
}
.content_sub .content_channel ul li i {
    display: block; 
    font-size: 24px;;
}
.content_sub .content_list {
    float: left;
    width: 992px;
}
.content_sub .content_list ul {
    width: 100%;
    text-align: right;
}
.content_sub .content_list ul li {
    float: left;
    width: 33.33%; 
}
.content_sub .content_list ul li a {
    display: block;
}
.content_sub .content_list ul li a img {
    width: 316px;
    height: 170px;
}
/* 向导样式 end */
/* 主页内容 start */
.content_banner{
    margin-top: 18px;
}
.content_banner a {
    display: block;
    width: 1226px;
    height: 120px;
}
.content_banner a img {
    width: 1226px;
    height: 120px;
}

/* 主页内容 end */
/* 小米站点内容end */
.clearfix::after {
    content:'';
    clear:both;
    display: block;
}