.box1 {
    width: 200px;
    height: 100px;
    position: relative;
    border: 1px dashed green;
}
.box2 {
    width: 100px;
    height: 50px;
    position: absolute;
    border: 1px dashed blue;
    top: 20px;
    left: 20px;
}