/* 数选择器的数量，
    1- id选择器的数量
    2- 类选择器的数量
    3- 标签选择器的数量

    权重计算永不进位
*/

/* 0 0 1 */
div {
    color: red;
}
/* 0 0 3 */
html body div {
    color: red;
}


/* 0 1 0 */
.b {
    color: green;
}
/* 1 0 0 */
#b{
    color: orange;
}

/*
    类选择器一定是大于标签选择器的
 */