.bg {
    width: 1900px;
    height: 900px;
    border: 2px solid green;
    background-color: lightblue;
    background-image: url(../images/700.png);
    /* 平铺方式 */
    background-repeat: no-repeat;
    /* 背景定位 */
    /* background-position:100px 100px; */
    background-position-x: 100px;
    background-position-y: 100px;
}