.site-header {
    width: 100%;
    height: 100px;

}
.container {
    width: 1226px;
    margin: 0 auto;
}

.site-header .nav-logo {
    float: left;
    margin-top: 25px;
}
.nav-logo a {
    display: block;
    width: 56px;
    height: 56px;
}
.site-header .nav-list {
    float: left;
    width: 820px;
    height: 88px;
    padding: 12px 0 0 30px;
}
.nav-list li {
    float: left;
}
.nav-list li a {
    display: block;
    color:#333;
    padding:28px 10px 38px;
}
.site-search {
    float:right;
    width: 296px;
    margin-top: 25px;
}
.site-search form {
    height: 50px;
    width: 296px;
}
.site-search form input.content{
    width: 223px;
    height: 48px;
    border: 1px solid #e0e0e0;
    padding:0 10px;
    float: left;

}
.site-search form input.search{
    width: 49px;
    height: 50px;
    border: 1px solid #e0e0e0;
    float: left;
    font-size: 25px;
    margin-left: -1px;

}
.clearfix::after{
    content: '';
    display: block;
    clear:both;
}