#box {
    width:300px;
    height: 200px;
    background-color: red;
    background-image: linear-gradient(#e66465,#9198e5);
}
#box1 {
    width:300px;
    height: 200px;
    background-color: red;
    background-image: linear-gradient(to right,#e66465,#9198e5);
}
#box2 {
    width:300px;
    height: 200px;
    background-color: red;
    background-image: linear-gradient(to bottom right,red,yellow);
}
#box3 {
    width: 300px;
    height: 200px;
    background-color: red;
    background-image: radial-gradient(
        red,
        yellow,
        blue,
    );
}
/* 不规则分布和形状 */
#box4 {
    width: 300px;
    height: 200px;
    background-color: red;
    background-image: radial-gradient(circle, red 25%, yellow 35%, pink 60%);
}
