.container {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
    width: 600px;
    height: 250px;
    background-color: lightblue;
}
.item {
    background-color: lightcoral;
    width: 100px;
    height: 80px;
    margin: 10px;
}
.item1 {
    background-color: lightcoral;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.item2 {
    background-color: lightcoral;
    width: 100px;
    height: 120px;
    margin: 10px;
}
.item3 {
    background-color: lightcoral;
    width: 100px;
    height: 80px;
    margin: 10px;
}