.bg {
    width: 1900px;
    height: 900px;
    border: 2px solid green;
    background-color: lightblue;
    background-image: url(../images/700.png);
    /* 平铺方式 */
    background-repeat: no-repeat;
    /* 背景定位 */
    /* 50% 100% */
    /* 百分比的值：水平宽度的值-图片宽度 */
    background-position: 50% 100%;

}