div {
    width: 24px;
    height:24px;
    display: inline-block;
    background: url('../images/sprite.png') no-repeat 0 0;
    /* 控制背景图的比例 */
    background-size: 24px 595px;
}
div.spirte1 {
    background-position:0 0;
}
div.spirte2 {
    background-position:0 -44px;
}
div.spirte3 {
    background-position:0 -88px;
}
div.spirte4 {
    background-position:0 -132px;
}
